
# Optional: set NODE_ENV to production on Vercel
NODE_ENV=development
UPSTASH_REDIS_REST_URL="https://alive-tadpole-70340.upstash.io"
UPSTASH_REDIS_REST_TOKEN="gQAAAAAAARLEAAIncDIzYWRmNGJiMmY5MGQ0Y2U3OWQ5OWJlZTYxMDk3MzMyOXAyNzAzNDA"